server:
  port: 9000

springdoc:
  swagger-ui:
    operations-sorter: method
    tags-sorter: alpha

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/powerup-users
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

security:
    jwt:
      secret-key: 7A6B62356D376F396C423974423F4428482B4E6252655568774A2F536B593468
      expiration: 86400000 # a day

appDescription: "Pragma Powerup"
appVersion: "1.0.0"

powerup_smallsquaremicroservice_url: "http://localhost:9001/api/v1"